<!DOCTYPE html>
<html>

<head>
  <title>Parcel Sandbox</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/doc.css">
  <link rel="stylesheet" href="/Component.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <script src="https://use.fontawesome.com/fcb99f5e0a.js"></script>
</head>

<body>
  <div class="navbar">
    <div class="logo-img"></div>
    <li class="nav-link">
      <h2><a href="index.html">Canvas</a></h2>
    </li>
  </div>
  </div>
  <div class="doc-section">
    <aside class="aside-style">

      <div class="side-bar">
        <ul class="top-nav">
          <li class="sidebar-li">
            <span class="title"><strong>Get Started</strong></span>
          </li>
          <div class="divider-sidebar"></div>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Introduction/getstarted.html" class="link-active">
              <span class="title">Introduction</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Color/Color.html" class="link-active">
              <span class="title">Colors</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Typography/Typography.html" class="link-active">
              <span class="title">Typography</span>
            </a>
          </li>
          <li class="sidebar-li">
            <!-- <a target="_self" href="#" class="link-active"> -->
            <span class="title"><strong>Components</strong></span>
            <!-- </a> -->
          </li>
        </ul>
        <div class="divider-sidebar"></div>
        <ul class="bottom-nav">
          <li class="sidebar-li">
            <a target="_self" href="/Component/Alert/Alert.html" class="link-active">
              <span class="title">Alert</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Avatar/Avatar.html" class="link-active">
              <span class="title">Avatar</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Badge/Badge.html" class="link-active">
              <span class="title">Badge</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Button/Button.html" class="link-active">
              <span class="title">Button</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Card/Card.html" class="link-active">
              <span class="title">Card</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Image/Image.html" class="link-active">
              <span class="title">Image</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Input/Input.html" class="link-active">
              <span class="title">Input</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/List/List.html" class="link-active">
              <span class="title">List</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Modal/Modal.html" class="link-active">
              <span class="title">Modal</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Navigation/Navigation.html" class="link-active">
              <span class="title">Navigation</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Toast/Toast.html" class="link-active">
              <span class="title">Toast</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Rating/Rating.html" class="link-active">
              <span class="title">Rating</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="main-content">
      <article class="main">
        <h4 class="sub-header">Navigation</h4>
        <p class="content-style">
          Navigation bar is used to navigate through the web apps or websites.
        </p>
        <div class="divider"></div>
        <h4 class="sub-header">Simple Horizontal Navigation Bar</h4>
        <p class="content-style">
          Navigation with logo,search input and dropdown menu for user/profile.
        </p>
        <div class="divider"></div>
        </div> 
        <script src="src/index.js">
        </script>
</body>

</html>