body {
    font-family: sans-serif;
  }
  .wrapper
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 2rem;
  }
  
  .avatar-container {
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 0.3rem;
    display: flex;
    gap: 2rem;
    height: 9.4rem;
    justify-content: center;
    width: 50rem;
  }
  
  .avatar-img {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .avatar-small {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .avatar-medium {
    height: 4rem;
    width: 4rem;
  }
  
  .avatar-large {
    height: 5rem;
    width: 5rem;
  }
  
  .avatar-square {
    border-radius: 10%;
  }
  
  .divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 1px;
    background-color: #dadadaf3;
  }
  