  .card-container {
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    gap: 0.4rem;
    border-radius: 6px;
    background-color: var(--card-BG);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  }
  .card-top-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
  }
  .img-tint {
    width: 40rem;
    height: 12.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .img-tint:hover {
    background-color: rgba(68, 67, 67, 0.08);
  }
  .image-box {
    height: 12.5rem;
    width: 10rem;
  }
  .image-box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .card-details {
    font-size: 0.8rem;
  }
  .card-details h2 {
    margin-top: 0.4rem;
    color: var(--secondary-card-color);
  }
   .card-details h4 {
    margin-top: 0.4rem;
    font-size: 0.6rem;
    color: var(--tertiary-card-color);
  }
  .card-bottom-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    padding-right: 0.5rem;
  }
  .primary-solid {
    background-color: var(--component-black-color);
    border: 1.5px solid var(--component-black-color);
    border-radius: 0.3rem;
    color: var(--component-white-color);
    padding: 0.8rem 1.5rem;
  }
  .primary-outline {
    background-color: var(--component-white-color);
    border: 1.5px solid var(--component-black-color);
    border-radius: 0.3rem;
    color: var(--component-black-color);
    padding: 0.8rem 0.8rem;
  }
  .card2-container {
    width: 19rem;
    text-align: left;
    background: var(--card-BG);
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 2rem;
  }
  .card2-container,
  h1,
  h2,
  p {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
  }
  
  .card2-container h1 {
    font-size: 1rem;
    margin-top: 0.7rem;
  }
  
  .card2-container h2 {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    color: var(--secondary-card-color);
  }
  
  .card2-container h5 {
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    color: var(--secondary-card-color);
  }
  /* card2 details */
  .card2-container p {
    font-size: 0.8rem;
    padding: 0.2rem;
  }
  
  /* card 2 image */
  .card2-container img {
    width: 19rem;
    height: 20rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .primary-solid-brown {
    background-color: var(--bg-card-button-color2);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: none;
  }
  
  .primary-solid-beige {
    border-radius: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--bg-card-button-color1);
    border-radius: 50%;
    border: none;
  }
  .card2-bottom-section {
    padding-left: 1rem;
  }
  ins {
    text-decoration: none;
  }
  .card-badge-container {
    background-image: url("./images/newlabel.png");
    background-size: 60px;
    width: 6.25rem;
    height: 3.12rem;
    top: 2%;
    background-repeat: no-repeat;
    position: absolute;
    background-clip: none;
  }
  .card-text-overlay {
    color: var(--text-card-primary-color);
  }
  .card-text-overlay {
    position: absolute;
    top: 1%;
  }
  .container-shadow {
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  .card-closebtn {
    font-size: 2rem;
    position: absolute;
    left: 90%;
  }