@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Condensed&display=swap');
*
body 
{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root 
{   
    --main-bg-color: #FBFFFE; 
    /* --border-color: black; */
    --primary-color: #E8EEF2;
    --secondary-color: #0D1B2A;
    --divider-bg-color: #dadadaf3;
    --tertiary-color: rgb(117, 117, 117, 0.8);
    --error-color: rgb(243, 53, 53,.8);
    --success-color: rgb(69, 136, 69,.8);
    --primary-alert-color:  rgb(66, 66, 221,.8);
    --primary-blue-color:  rgb(66, 66, 221);
    --primary-red-color: red;
    --primary-green-color: green;
    --warning-color: rgb(243, 156, 105,.8);
    --component-container-color:  #f0f0f0;
    --component-white-color: white;
    --component-black-color: black;
    --card-BG: rgb(255, 255, 255);
    --text-card-primary-color: rgb(238, 27, 36);
    --secondary-card-color: rgb(117, 117, 117);
    --tertiary-card-color: rgb(117, 117, 117, 0.8);
    --hover-card-color: rgba(238, 27, 36, 0.2);
    --bg-card-button-color1: rgb(206, 206, 182);
    --bg-card-button-color2: rgb(66, 27, 27);

}
.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.logo-img
{
background-image: url("./images/Easel.png");
background-repeat: no-repeat;
mix-blend-mode: multiply;
width: 4rem;
height: 4rem;
background-size: 4rem;
background-color: transparent;
overflow:hidden;
margin-left: 1rem;
}
.navbar
{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
}
.navbar a{
    font-size: 2rem;
    margin-right: 1rem;
    font-family: cursive;
}
li
{
    list-style: none;
    margin-right: 50rem;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color:  var(--secondary-color);
    /* background-color: var(--main-bg-color); */
}
.doc-section
{
display: grid;
grid-template-columns: 30% 1fr 1fr 10%;
grid-template-rows: 1fr;
grid-template-areas: "aside content content content"
                     "aside content content content";                    
}
.aside
{
    grid-area: aside;
}
.side-bar
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    padding-left: 3rem;
    position: sticky;
    top:1rem;
}
.main-content
{
    grid-area: content;
    text-align: left;
    /* background-color: var(--primary-color); */
    position: relative;
    max-width: 50rem;
}
/* .link-active 
{
    list-style: none;
    text-decoration: none;
} */
span .title
{
    text-decoration: none;

}
.main
{
    text-align: left;
    /* background-color: white; */
    position: relative;
    max-width: 50rem;
}
.aside
{
    /* background-color: white; */
    text-align: center;
    position: sticky;   
    left:0;
}
/* @media all and (min-width: 800px)
{
    .main{
        flex: 3;
    }
    .aside1{
        order: 1;
    }
    .main{
        order: 2;
    }
    .footer{
        order: 3;
    }
}
@media all and (min-width: 600px)
{
    .aside1{
        flex: 1;
    }
} */
.header__nav 
{
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* color: darkgray; */
    position: sticky;
    gap: 3rem;  
}
/* .header__nav li 
{
    display: inline-block;
    color: darkgray;
    
}
.header__nav a 
{
    padding: 8px;
    color: darkgray;
    text-decoration: none;
} */
.sub-header
{
    text-align: left;
    font-size: 1.8rem;
}
.link-active 
{
    list-style: none;
   text-decoration: none;
}
.link-active:hover 
{
    color: #0f96df;
    margin-left: 20px;
    transition: 2s; 
    /* background-color: lightgrey;
    border-radius: 4px;
    padding: 1rem 1.2rem; */
}
/* .link-active:f
{
    color: #0f96df;
    /* background-color: lightgrey;
    border-radius: 4px;
    padding: 1rem 1.2rem; 
} 
*/
.title
{
  text-decoration: none;
}
li
{
  list-style: none;
  padding: 1rem;
}
.content-style
{
  padding-bottom: .5rem;
  margin: .5rem;
}
.divider
{
  margin-bottom: 2rem;
  height: 1px;
  background-color: var(--divider-bg-color);
}
.divider-sidebar
{
  margin-bottom: .2rem;
  height: .2px;
  background-color: var(--divider-bg-color);
  width: 10rem;
}
.bottom-nav
{
    margin-top: 1px;
}
.example-code
{
    height: max-content;
    margin-bottom: 3rem;
    padding-right: 10px;
    width: 50rem;
    /* border: 1px solid black; */
    border-radius: 0.3rem;
    background-color: var(--component-white-color);
    text-align: center;
    overflow-x: scroll;
}
.border-style
{
    border-width: 1px;
    border-style: solid;
    border-color: var(--component-black-color);
}
