  .list-container 
  {  
    align-items: center;
    background-color: var(--component-container-color);
    border-radius: 0.3rem;
    display: flex;
    font-size: .9rem;
    gap: 0.5rem;
    justify-content: center;
    margin: .5rem;
    padding: 1rem;
    width: 50rem;
    height: auto;
  }
  .list-title {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 0.5rem;
  }
  .list {
    background-color: var(--component-white-color);
    padding: 1rem 0;
    margin: 2.5rem;
    width: 90%;
    max-width: 15rem;
  }
  .list-style {
    background-color: var(--component-white-color);
    padding: 1rem 2rem;
    margin: 1.5rem;
    width: 100%;
    max-width: 25rem;
  }
  .list li {
    font-size: .8rem;
    list-style: none;
    padding: 0.7rem 1.1rem;
  }
  .list-style li {
    font-size: .8rem;
    padding: 0.7rem;
  }
  .list-style-circle {
    list-style-type: circle;
  }
  .list-style-sqaure {
    list-style-type: square;
  }
  .list-style-bullet {
    list-style-type: bullet;
  }
  .nested-list {
    padding-left: 1rem;
  }
  .nested-list-style-ul .nested-list-style
  {
    padding-left: 2rem;
  }
  ol {
    list-style: upper-alpha;
  }
  .stacked-list {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: 1px solid black;
    list-style: none;
    text-align: center;
  }
  .list-beige {
    background-color: var(--success-color);
  }
  .list-aqua {
    background-color: var(--warning-color);
  }
  .list-pink {
    background-color: var(--tertiary-color);
  }
  .list-purple {
    background-color: var(--hover-card-color);
  }
  .list-stack-list {
    padding: 1rem 5rem;
    width: 100%;
    max-width: 20rem;
  }
  .inline-item {
    display: inline;
  }
  