<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/doc.css">
  <script src="https://use.fontawesome.com/fcb99f5e0a.js"></script>
</head>

<body>
  <div class="navbar">
    <div class="logo-img"></div>
    <li class="nav-link">
      <h2><a href="/index.html">Canvas</a></h2>
    </li>
  </div>
  </div>
  <div class="doc-section">
    <aside class="aside-style">

      <div class="side-bar">
        <ul class="top-nav">
          <li class="sidebar-li">
            <!-- <a target="_self" href="getstarted.html" class="link-active">   -->
            <span class="title"><strong>Get Started</strong></span>
            <!-- </a> -->
          </li>
          <div class="divider-sidebar"></div>
          <li class="sidebar-li">
            <a target="_self" href="#" class="link-active">
              <span class="title">Introduction</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Color/Color.html" class="link-active">
              <span class="title">Colors</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Typography/Typography.html" class="link-active">
              <span class="title">Typography</span>
            </a>
          </li>
          <li class="sidebar-li">
            <!-- <a target="_self" href="#" class="link-active"> -->
            <span class="title"><strong>Components</strong></span>
            <!-- </a> -->
          </li>
        </ul>
        <div class="divider-sidebar"></div>
        <ul class="bottom-nav">
          <li class="sidebar-li">
            <a target="_self" href="/Component/Alert/Alert.html" class="link-active">
              <span class="title">Alert</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Avatar/Avatar.html" class="link-active">
              <span class="title">Avatar</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Badge/Badge.html" class="link-active">
              <span class="title">Badge</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Button/Button.html" class="link-active">
              <span class="title">Button</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Card/Card.html" class="link-active">
              <span class="title">Card</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Grid/Grid.html" class="link-active">
              <span class="title">Grid</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Image/Image.html" class="link-active">
              <span class="title">Image</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Input/Input.html" class="link-active">
              <span class="title">Input</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/List/List.html" class="link-active">
              <span class="title">List</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Modal/Modal.html" class="link-active">
              <span class="title">Modal</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Rating/Rating.html" class="link-active">
              <span class="title">Rating</span>
            </a>
          </li>
          <li class="sidebar-li">
            <a target="_self" href="/Component/Toast/Toast.html" class="link-active">
              <span class="title">Toast</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="main-content">
      <article class="main">
        <h4 class="sub-header">About Canvas</h4>
        <p class="content-style">
          Canvas allows you to design and build web apps faster by providing a range of reusable components.Let's spread
          magic with our canvas and your code.
        </p>
        <div class="divider"></div>
        <h4 class="sub-header">Installation Guide</h4>
        <p class="content-style">
          In order to canvas your project, copy the link given below and paste it in the

          <head> tag of your html, above all other style sheets.
        </p>
        <!--Add the code from Carbon here-->
        <p>Add the code from Carbon here</p>
        <div class="divider"></div>
        <h4 class="sub-header">Customize Your Canvas</h4>
        <p class="content-style">
          Canvas has wide range of reusable designs which suit most of the user's need but you can always make the
          canvas your own by either adding more classes.
        </p>
      </article>
    </div>
  </div>
</body>

</html>