<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas!Colors</title>
    <link rel="stylesheet" href="/doc.css">
    <link rel="stylesheet" href="/Component.css">
    <script src="https://use.fontawesome.com/fcb99f5e0a.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="logo-img"></div>
        <li class="nav-link">
            <h2><a href="index.html">Canvas</a></h2>
        </li>
    </div>
    </div>
    <div class="doc-section">
      <aside class="aside-style">

        <div class="side-bar">
          <ul class="top-nav">
            <li class="sidebar-li">
              <span class="title"><strong>Get Started</strong></span>
            </li>
            <div class="divider-sidebar"></div>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Introduction/getstarted.html" class="link-active">
                <span class="title">Introduction</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Color/Color.html" class="link-active">
                <span class="title">Colors</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Typography/Typography.html" class="link-active">
                <span class="title">Typography</span>
              </a>
            </li>
            <li class="sidebar-li">
              <!-- <a target="_self" href="#" class="link-active"> -->
              <span class="title"><strong>Components</strong></span>
              <!-- </a> -->
            </li>
          </ul>
          <div class="divider-sidebar"></div>
          <ul class="bottom-nav">
            <li class="sidebar-li">
              <a target="_self" href="/Component/Alert/Alert.html" class="link-active">
                <span class="title">Alert</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Avatar/Avatar.html" class="link-active">
                <span class="title">Avatar</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Badge/Badge.html" class="link-active">
                <span class="title">Badge</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Button/Button.html" class="link-active">
                <span class="title">Button</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Card/Card.html" class="link-active">
                <span class="title">Card</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Grid/Grid.html" class="link-active">
                <span class="title">Grid</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Image/Image.html" class="link-active">
                <span class="title">Image</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Input/Input.html" class="link-active">
                <span class="title">Input</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/List/List.html" class="link-active">
                <span class="title">List</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Modal/Modal.html" class="link-active">
                <span class="title">Modal</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Rating/Rating.html" class="link-active">
                <span class="title">Rating</span>
              </a>
            </li>
            <li class="sidebar-li">
              <a target="_self" href="/Component/Toast/Toast.html" class="link-active">
                <span class="title">Toast</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>
        <div class="main-content">
            <article class="main">
                <h4 class="sub-header">Canvas Color Scheme</h4>
                <p class="content-style">
                    Since you are here to create your own canvas, this library offers wide range of colors which are consistent in the overall design. The colors used are chosen on a generic basis, which can be accessed by pre-defined classes. 
                </p>
                <div class="divider"></div>
                <h4 class="sub-header">Default Palette</h4>
                <p class="content-style">
                    Below is the color palette, used by Canvas, listed with the hex-codes.
                </p>
                <div class="divider"></div>
                <div class="wrapper">
                    <div class="alert-container border-style">
                       <div class="palette">
                        <div class="color main-background-color">
                            Primary Background
                            <span>#FBFFFE<span>
                        </div>
                        <div class="color secondary-color">
                            Secondary Color                  
                            <span>#0D1B2A<span>
                        </div>           
                        <div class="color error-color">
                            Danger                  
                            <span>#F335FD<span>
                        </div>
                        <div class="color success-color">
                            Success                  
                            <span>#458824<span>
                        </div>
                        <div class="color primary-blue-color">
                            Primary Blue                  
                            <span>#4242DD<span>
                        </div>
                        <div class="color warning-color">
                            Warning                  
                            <span>#F39C69<span>
                        </div>
                    </div>  
                    </div>
                </div>  
            </article>
        </div>
    </div>
</body>

</html>