<!DOCTYPE html>
<html>

<head>
    <title>MODAL</title>
    <link rel="stylesheet" href="/doc.css">
    <link rel="stylesheet" href="/Component.css">
    <meta charset="UTF-8" />
</head>

<body>
    <div class="wrapper">
        <div class="modal-container">
            <a href="#modalbox" class="modal-style">CLICK TO OPEN</a>
            <div>
                <div id="modalbox" class="modal">
                    <div class="modal-content">
                        <h3>Be the first to shop the new collection</h3>
                        <p>Sign up now for 20% off on your first purchase</p>
                        <input type="text" placeholder="Email Address" />
                        <button class="btn">SUBMIT</button>
                        <a href="#" class="modal-close">&times;</a>
                    </div>
                </div>
                <script src="src/index.js"></script>
            </div>
        </div>
    </div>            
</body>

</html>